
* {
    margin: 0px;
    padding: 0px;
}
#topSpace {
    height: 65px;

}
body {
    background-color: #332a38;
    margin: 5px 5px 5px 5px;
}

.wrapper {
    margin: 0 auto 0 auto;
    padding-top: 30px;
}

.content {
    background-color: #4e8599;
    color: #fff;
    
   
}

.content, aside {
    min-height: 600px;
    text-align: center;
}
aside {
    background-color: #994e6a;
    color: #fff;
}
form {width: 500px;
}
#form { 
       font-size: 18px;
}
div input {
       font-size: 18px;
}
#error { margin: auto;
}
#intro {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Haettenschweiler, 'Arial Bold', sans-serif;
    background-color: #E8DBC9;
    padding: 20px;
    width: 65%;
    font-size: 16px;
    border-radius: 8px;
    border: 5px solid#345865;
}

/*header, footer {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #998b4e;
    height: 30px;
    clear: both;
    padding-right: 160px;
    padding-top: 40px;
}*/
.tooltip {
    position: relative;
    display: inline-block;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 100px;
        background-color: #345865;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: -25px;
        left: 25%;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

/*ul {
    list-style-type: none;
    margin: 0;
    width: 60px;
}*/
ol {
    text-align: left;
    margin: 60px;
}

#typesRock { padding-left: 35px;
}
.button {
    background-color: #994e6a;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
   
}
.button2:hover { box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#nav {
    
    list-style-type: none;
}

#HedLine {
    background-color: black;
    height: 2px;
}
#guitarSide {
    padding: 20px;
}

.center {
    margin: auto;
    margin-top: 40px;
}
.leftAlign {
    text-align:left
}

#songs {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    top: 80px;
}

    #songs td, #songs th {
        border: 1px solid #594E66;
        padding: 8px;
    }

    #songs tr:nth-child(even) {
        background-color: #A16BE5;
        color: black;
    }

    #songs tr:nth-child(odd) {
        background-color: #E88DDC;
        color: black;
    }

    #songs tr:hover {
        background-color: #8C9CE8;
    }

    #songs th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #FF7E74;
        color: black;
    }
h3 { padding-top: 15px;
     margin-top: 0px;
}
#songTable {
    align-content: center;
    vertical-align: central;
}

#RG {
    padding-bottom: 10px;
    padding-top: 10px;
}

img {
    background-color: white;
    border-radius: 5px;
    border: 5px solid#345865;
}

/*li a {
    display: inline-block;
    color: white;
    list-style-type: none;
}*/



footer {
    text-align: center;
    color: black;
}

div p {
    text-align: left;
}
