

@if (IsPost)
{
    <text>
        The time is: <br /> @DateTime.Now <br />
        @DateTime.Now is the <em>current</em> time.
    </text>

}



@{
    Layout = "~/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Guitars</title>

</head>
<body>
    <h2>Pick Your Favorite Guitar</h2>
    @{ var firstname = Request["Firstname"]; var lastname = Request["Lastname"]; } @firstname @lastname

    <div id="Guitars" class="container">
        <div class="row" style="height: 10px"></div>
        <div class="row">
            <section class="col-md-4">

                <div>
                    <a href="~/WebPage2.cshtml" name="ex" id="ex">
                        <img src="~/Images/Explorer.jpg" style="width:300px;height:120px">
                    </a>
                </div>
            </section>
            <section class="col-md-3">
                <div>
                    <a href="~/WebPage2.cshtml" name="lp" id="lp">
                        <img src="~/Images/LesPaul.jpg" style="width:300px;height:120px">
                    </a>
                </div>
            </section>
        </div>
        <div class="row" style="height: 10px"></div>
        <div class="row">
            <section class="col-md-4">
                <div>
                    <a href="~/WebPage2.cshtml" name="rg" id="rg">
                        <img src="~/Images/RG.png" id="RG" style="width:300px;height:120px">
                    </a>
                </div>
            </section>
            <section class="col-md-3">
                <div>
                    <a href="~/WebPage2.cshtml" name="sg" id="sg">
                        <img src="~/Images/SG.jpg" style="width:300px;height:120px">
                    </a>
                </div>
            </section>
        </div>
        <div class="row" style="height: 10px"></div>
        <div class="row">
            <section class="col-md-8">
                <div>
                    <a href="~/WebPage2.cshtml" name="st" id="st">
                        <img src="~/Images/Stratocaster.jpg" style="width:300px;height:120px">
                    </a>
                </div>
            </section>
        </div>

    </div>


</body>
</html>
@section sidebar{
    <h3>Guitar came from?</h3>
    <p id="guitarSide">
        The guitar is an ancient and noble instrument,
        whose history can be traced back over 4000 years.
        Many theories have been advanced about the instrument's
        ancestry. It has often been claimed that the guitar is a
        development of the lute, or even of the ancient Greek kithara.
    </p>

}